.center {

    display: flex; 
    justify-content: center; 
    height: 0;

}

.title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    display: flex;
    justify-content: center; 
    height: 0; 
}

.menu-title {
    color: black; 
    font-size: 40px; 

}