.center {
    display: flex;
    justify-content: center; 
    height: 0;
    padding-top: 20px;
    padding-bottom: 80px;
}

.menu-title {
    color: black; 
<<<<<<< Updated upstream
    font-size: 45px; 
}
=======
    font-size: 55px; 
   
}
>>>>>>> Stashed changes
