/* login.css */ 


body {
    font-family: Georgia, serif; /* Set body font to Georgia */
    font-size: 12px; /* Set body font size to 12 */
}

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */

    background: linear-gradient(to bottom right, #93dfec 0%, #0078b7 100%); /* blue ombre background */
}

.google-login-button {
    background-color: #ffffff; /* Button background color */
    color: #333333; /* Button text color */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    font-family: 'Merriweather', serif;
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove button outline */
    transition: background-color 0.3s ease; /* Add smooth transition */
<<<<<<< HEAD
    position: absolute; 
    bottom: 10%;
    left: 45%;
    transform: translate (-50%,50%);

=======
    z-index: 2147483647;
>>>>>>> main
}

.google-login-button:hover {
    background-color: #e0e0e0; /* Change button background color on hover */
}

.auth-page p {
    color: #ffffff; /* Text color */
    font-size: 18px; /* Font size */
    margin-bottom: 20px; /* Bottom margin */
    position: absolute; 
    bottom: 15%;
    left: 43%;
    transform: translate (-50%,50%);

}

<<<<<<< HEAD
.truckle-logo {
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.logo{
    width: 700px;
    height: auto;
=======
@keyframes shake {
  
    0% { transform: translate(-3px, -3px); }
    25% { transform: translate(3px, 3px); }
    50% { transform: translate(-3px, -3px); }
    75% { transform: translate(3px, 3px); }
    100% { transform: translate(-3px, -3px); }
  }

@keyframes shake-other {
  
    0% { transform: translate(3px, -3px); }
  25% { transform: translate(-3px, 3px); }
  50% { transform: translate(3px, -3px); }
  75% { transform: translate(-3px, 3px); }
  100% { transform: translate(3px, -3px); }
  }

  .images-d {
    width: 20%;
    height: auto;
}

/*individual food classes */
.acaiBowl {
    position: absolute;
    top: 0%;
    left: -1%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.burger {
    position: absolute;
    bottom: 5%;
    right: -40%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.bulgogiRice {
    position: absolute;
    bottom: 28%;
    right: -53%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.donuts {
    position: absolute;
    top: 25%;
    left: 15%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.iceCream {
    position: absolute;
    bottom: 5%;
    left: 18%;
    /*transform: translate(-35%, -55%);*/
    animation: shake-other 1.3s ease infinite;
}

.mangoRice {
    position: absolute;
    bottom: 30%;
    left: 4%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.mangoSmoothie {
    position: absolute;
    top: 5%;
    right: -58%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.taco {
    position: absolute;
    top: 20%;
    right: -43%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}
@keyframes shake {
  
    0% { transform: translate(-3px, -3px); }
    25% { transform: translate(3px, 3px); }
    50% { transform: translate(-3px, -3px); }
    75% { transform: translate(3px, 3px); }
    100% { transform: translate(-3px, -3px); }
  }

  /* shake diagonally from the other side */
@keyframes shake-other {
  
    0% { transform: translate(3px, -3px); }
  25% { transform: translate(-3px, 3px); }
  50% { transform: translate(3px, -3px); }
  75% { transform: translate(-3px, 3px); }
  100% { transform: translate(3px, -3px); }
  }

  .images-d {
    width: 20%;
    height: auto;
}

/*individual food classes */
.acaiBowl {
    position: absolute;
    top: 0%;
    left: -1%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.burger {
    position: absolute;
    bottom: 5%;
    right: -40%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.bulgogiRice {
    position: absolute;
    bottom: 28%;
    right: -53%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.donuts {
    position: absolute;
    top: 25%;
    left: 15%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.iceCream {
    position: absolute;
    bottom: 5%;
    left: 18%;
    /*transform: translate(-35%, -55%);*/
    animation: shake-other 1.3s ease infinite;
}

.mangoRice {
    position: absolute;
    bottom: 30%;
    left: 4%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.mangoSmoothie {
    position: absolute;
    top: 5%;
    right: -58%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
}

.taco {
    position: absolute;
    top: 20%;
    right: -43%;
    /*transform: translate(-35%, -55%);*/
    animation: shake 1.3s ease infinite;
>>>>>>> main
}