/* account-setting.css */

.banner-account {
  position: absolute;
  top: 20%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.banner {
  max-width: 400%;
  height: auto;
}

.edit-profile-container {
  position: absolute; 
  max-width: 60%;
  height: auto;
  font-family: Merriweather, sans-serif;
  top: 35%;
  left: 20%;
  transform: translate (-50%,0%);
}

.edit-profile-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
 