
.profile-info {
    display: flex;
    align-items: center;
  }
  .name {
    margin-left: 10px; 
    font-weight: bold;
  }

.reviews-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.scroll-buttons {
    display: flex;
    align-items: right;
}

.scroll-buttons button {
    background-color: #ccc; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.scroll-buttons button:hover {
    background-color: #999; 
}

.reviews-container {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    max-width: 100%;
}

.reviewContainer {
    flex: 0 0 auto; 
    display: flex;
    width: 300px; 
    margin-right: 20px; 
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #f5f5f5;
    overflow: hidden; 
    font-family: 'Merriweather', serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in, transform 0.1s ease-in;
<<<<<<< Updated upstream
=======
}

.reviewContainer:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
>>>>>>> Stashed changes
}

.reviewContainer:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  max-width: 100%;
  max-height: 80%;
  overflow: auto;
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

.review-text {
  max-width: 100%;
  overflow-wrap: break-word;
}
.deleteButton {
  top: 10px; 
  right: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
