.slist {
  width: 70vw;
  z-index: 1;
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
  padding-top: 20px; 
  padding-bottom: 20px;
  justify-content: center;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.search-item-container {
  border-radius: 20px;
  width:  250px;
  height: auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.search-item-container img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-item-container h2 {
  margin: 10px 20px;
  text-align: center;
}

.search-item-container p {
  margin: 0px;
  text-align: center;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truck-p {
  font-weight: bold;
}

.space {
  padding-top: 10px;
}