.test {
    display: flex;
    justify-content: center;
}

.ais-SearchBox-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.background {
    background-image: linear-gradient(to bottom right, #93dfec 0%, #0078b7 100%);
    min-height: 100vh;
}